/* ------------------- */
/* Utility classes     */
/* ------------------- */

.ul-punto {
  list-style-type: disc;
  color: var(--color-blue);
}

.boton-service {
  margin-top: 2rem;
}

/* ------------------- */
/* Services Page     */
/* ------------------- */

.hero-servicios {
  margin-top: 5rem;
  background-image: url(../img/servicios-head.png);
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
}

.section {
  display: flex;
  gap: 2rem;
  width: min(100% - 2rem, 1440px);
  margin: 0 auto;
  padding-block: 4rem;
}

.section__item {
  flex: 1;
}

.section:before {
  content: "";
  border: 1px solid var(--color-ligth-blue);
  align-self: stretch;
}

.section__item--start {
  order: -1;
  display: flex;
  justify-content: center;
}

.section__item--start h4 {
  font-family: "Sedan SC Regular";
  font-size: 1.8rem;
  line-height: 28px;
  margin-bottom: 1rem;
  color: var(--color-blue);
}

.border-bottom-after {
  position: relative;
}

.border-bottom-after:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid var(--color-blue);
  width: 50%;
  display: block;
  left: 0;
  bottom: -40px;
}

.section__item--end p {
  font-family: "Open-Sans", serif;
  margin-bottom: 1rem;
  line-height: 18px;
}

/* ------------------- */
/* Section Gradient             */
/* ------------------- */

.gradient-wrapper {
  background: linear-gradient(180deg, #96a3e7 0%, rgba(150, 192, 231, 0.76) 100%);
}
.section-gradient::before {
  content: "";
  border: 1px solid #fff;
  align-self: stretch;

  /* ------------------- */
  /* Media Query              */
  /* ------------------- */
}

@media (max-width: 800px) {
  .section {
    align-items: center;
    flex-direction: column;
  }

  .section-gradient {
    align-items: center;
    flex-direction: column;
  }
}
